.header-block{
	width: 100%;
	display: flex;
	background: #2b3743;
}
.header-block-light{
	width: 100%;
	display: flex;
	background: #fff;
}
.header-block-container{
	width: 100%;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header-block-container h1{
	margin: 0;
	font-size: 25px;
	color:#fff;
}
.header-block-container h1.dark{
	margin: 0;
	font-size: 25px;
	color:#000;
}
.switch-darkmode-button {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.switch-darkmode-button p{
	color: #000;
}
.switch-darkmode-button p.text-dark{
	color: rgba(255,255,255,0.6);
	color: #fff;
}