@import './reset.css';

body {
	width: 100%;
	min-height: 100vh;
}
.container{
	max-width: 1440px;
	width: 100%;
	margin:0 auto;
	box-sizing: border-box;
	padding: 0 15px;
}
.container-fluid{
	background: #202d36;
	min-height: 100vh;
}
.search-block{
	width: 100%;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin:40px 0;
}
.search-block-input{
	width: 40%;
    align-items: center;
    background: #2b3743;
    border-radius: 4px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 7px 35px;
    height: 60px;
    flex-direction: row;
    display: flex;
}
.search-block-input-light{
	width: 40%;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 7px 35px;
    height: 60px;
    flex-direction: row;
    display: flex;
}
.search-block-input-light svg{
	filter:brightness(0%);
}
.icon-style{
	width: 20px;
    height: 20px;
    margin-right: 25px;
}
.icon-style svg {
	width: 100%;
	height: 100%;
}
.search-block-input input{
	width: 100%;
	height: 40px;
	background: none;
	outline: none;
	border: none;
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}
::placeholder {
  	color: #fff;
  	opacity: 1;
}

:-ms-input-placeholder {
  	color: #fff;
}

::-ms-input-placeholder {
  	color: #fff;
}
.search-block-input-light :-ms-input-placeholder {
  	color: #555;
  	opacity: 1;
}
.search-block-input-light ::placeholder {
  	color: #555;
  	opacity: 1;
}
.search-block-input-light ::-ms-input-placeholder {
  	color: #555;
  	opacity: 1;
}
.search-block-input-light input{
	color: #333;
}
.search-block-options{
	height: 60px;
	padding: 0 25px;
	background: #2b3743;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.search-block-options-light{
	background: #fff;
}
.search-block-options-light svg{
	filter:brightness(0%);
}
.search-block-options-light .search-block-option-list {
	background: #fff;
}
.search-block-options-light .search-block-option-list span{
	color: #333;
}
.search-block-option-button{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.rotate-45 {
	transform: rotate(45deg);
	transform: -o-rotate(45deg);
	transform: -ms-rotate(45deg);
	transform: -moz-rotate(45deg);
	transform: -webkit-rotate(45deg);
}
.small{
	width: 10px;
	height: 10px;
}
.right{
	position: relative;
    right: -20px;
    top: -5px;
}
.search-block-option-button p{
	font-size: 14px;
	color: #e7ebec;
	margin-right: 20px;
}
.search-block-option-list{
	position: absolute;
	top: 100%;
	overflow: hidden;
	opacity: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
	background: #2b3743;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 4px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding: 15px 25px 5px;
	transition: .18s all;
	-o-transition: .18s all;
	-ms-transition: .18s all;
	-moz-transition: .18s all;
	-webkit-transition: .18s all;
}
.search-block-option-list-opened{
	top: 110%;
	visibility: visible;
	opacity: 1;
	transition: .18s all;
	-o-transition: .18s all;
	-ms-transition: .18s all;
	-moz-transition: .18s all;
	-webkit-transition: .18s all;
}
.search-block-option-list span{
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
	color: rgba(255,255,255,0.79);
	cursor: pointer;
	position: relative;
	left: 0px;
	transition: .18s all;
	-o-transition: .18s all;
	-ms-transition: .18s all;
	-moz-transition: .18s all;
	-webkit-transition: .18s all;
}
.search-block-option-list span:hover{
	color: rgba(255,255,255,1);
	left: 2px;
	transition: .18s all;
	-o-transition: .18s all;
	-ms-transition: .18s all;
	-moz-transition: .18s all;
	-webkit-transition: .18s all;
}
.spinner-block{
	width: 100%;
	min-height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear-data-block{
	width: 100%;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear-data-block h3{
	font-size: 32px;
	color: rgba(255,255,255,0.7);
	font-weight: 800;
}
.countries-items{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

}
.country-item{
	width: 21%;
	min-height: 150px;
	background: #2b3743;
	margin-bottom: 4%;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 0 rgba(0,0,0,0);

	transform: scale(1);
	transform: -o-scale(1);
	transform: -ms-scale(1);
	transform: -moz-scale(1);
	transform: -webkit-scale(1);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.country-item:hover{
	box-shadow: 0 0 40px rgba(0,0,0,0.37);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.country-item-light{
	background: #fff;
	box-shadow: 0 0 40px rgba(0,0,0,0.07);

	transform: scale(1);
	transform: -o-scale(1);
	transform: -ms-scale(1);
	transform: -moz-scale(1);
	transform: -webkit-scale(1);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.country-item-light:hover{
	background: #eee;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.country-item-flag{
	width: 100%;
}
.country-item-flag-svg {
	width: 100%;
	height: 150px;
	background-size: contain;
	display: flex;
	overflow: hidden;
}
.country-item-flag-svg svg{
	width: 100%;
	height: 100%;
	transform: scale(1.39);
	transform: -o-scale(1.39);
	transform: -ms-scale(1.39);
	transform: -moz-scale(1.39);
	transform: -webkit-scale(1.39);
}
.country-item-info{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.country-item-info h3{
	color: #fff;
	margin: 10px 0 15px 0;
	font-size: 18px;
}
.country-item-info p{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 5px;
}
.country-item-info p span{
	color: rgba(255,255,255,0.56);
	letter-spacing: 1px;
	font-weight: 300;
}
.countries-more{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.countries-more span{
    cursor: pointer;
    display: flex;
    padding: 9px 30px;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    background: #2b3743;
    box-shadow: 0 0 0 rgba(0,0,0,0);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.countries-more span:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.43);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.countries-more-light span{
	background: transparent;
    box-shadow: 0 0 15px rgba(0,0,0,0.18);
    color: #333;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.countries-more-light span:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.43);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.go-back-block{
	width: 100%;
	margin: 70px 0;
	display: flex;
}
.go-back-block-button{
	display: flex;
    float: left;
    cursor: pointer;
    flex-direction: row;
    padding: 10px 25px;
    border-radius: 5px;
    background: #2b3743;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.go-back-block-button span{
	color: #fff;
    position: relative;
    top: 1px;
}
.go-back-block-button a{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.search-black-options-light p{
	color: #333;
}
.go-back-block-light .go-back-block-button{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.go-back-block-light svg{
	filter:brightness(0%);
}
.go-back-block-light span{
	color: #333;
}
.no-margin{
	width: 15px;
	height: 15px;
	margin: 0 15px 0 0;
}
.content-page-block{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.col-6{
	width: 49%;
	height: 50%;
	min-height: 20vh;
}
.col-3{
	width: 40%;
}
.page-image{
	width: 100%;
	display: flex;
}
.page-image svg{
	width: 100%;
	display: flex;
}
.page-content{
	width: 100%;
	min-height: 30vh;
}
.page-content h1{
	color: #fff;
	font-weight: 800;
	font-size: 38px;
	margin-bottom: 20px;
}
.page-content-sections {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.page-content-sections section{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.page-content-sections section p{
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
}
.page-content-sections section p span{
	font-weight: 300;
	color: rgba(255,255,255,0.66);
	margin-left: 0px;
	margin-right: 5px;
	position: relative;
}
.page-content-sections section p span:after{
    content: ',';
    position: absolute;
    bottom: 0;
    right: -4px;
}
.page-content-sections section p span:nth-last-child(1):after{
    content: '';
}
.page-content-sections-row section, .page-content-sections-row section p{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.page-content-sections-row section{
	margin-top: 40px;
}
.page-content-sections-row section p span{
    margin-left: 10px;
    padding: 4px 20px;
    background: #2b3743;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 0px;
}
.page-content-sections-row section p span:after{
    content:'';
}
.icon-moon{
	margin-right: 10px;
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}
.country-item-light h3{
	color: #333;
}
.country-item-light p{
	color: #333;
}
.country-item-light p span{
	color: #555;
}
.content-page-block-light h1{
	color: #333;
}
.content-page-block-light section p{
	color: #333;
}
.content-page-block-light section p span{
	color: #666;
}
.content-page-block-light .page-content-sections-row section p span {
	background: transparent;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.search-block-option-button-light p{
	color: #666;
}