/*fonts*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap');
/*font-family: 'Nunito Sans', sans-serif;*/
/*fonts*/

/*fonts*/

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family: 'Nunito Sans', sans-serif;
}
a:hover{
	text-decoration:none;
}
