@media screen and (max-width: 740px) {
	.country-item {
    	width: 100%;
	}
	.country-item-flag-svg {
	    height: 303px;
	}
	.search-block {
	    display: flex;
	    width: 100%;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	    margin: 40px 0;
	}
	.search-block-input{
		width: 100%;
		margin-bottom: 20px;
	}
	.content-page-block {
	    flex-direction: column;
	}
	.col-6{
		width: 100%;
	}
}
