@media screen and (min-width: 992px) {
	.country-item {
    	width: 21%;
	}
	.country-item-flag-svg {
	    height: 150px;
	}
	.search-block {
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    margin: 40px 0;
	}
	.content-page-block {
	    flex-direction: row;
	}
	.col-6{
		width: 49%;
	}
}

@media screen and (max-width: 992px) {
	.country-item {
    	width: 31%;
	}
	.search-block {
	    flex-direction: row;
	    justify-content: space-between;
	    align-items: center;
	    margin: 40px 0;
	}
	.content-page-block {
	    flex-direction: row;
	}
	.col-6{
		width: 49%;
	}
}
